<div class="footer">
    <span>
        There are over 7000+ businesses
        working with us to build consequatur magnam consectetur molestiae vel.
    </span>
    <hr>

    <div class="footer-content">
        <div class="footer-column">
            <h3>Company</h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Explore</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/blog">About Us</a></li>
                <li><a routerLink="/careers">Services</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Get In Touch</h3>
            <div>
                <p>youremail@gmail.com</p>
                <p>+92-312-264-0389</p>
                <div class="social-media">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <span>@Copyright 2001 117, Powered by Google LLC ©2010-2023.
            Code licensed under an MIT-style License.
            Documentation licensed under CC BY 4.0.</span>
    </div>
</div>