<!-- <nav>

  <div style="display: flex; justify-content: space-around;">
    <span>Logo</span>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/business" routerLinkActive="active">Business</a></li>
      <li><a routerLink="/c2c" routerLinkActive="active">C2C</a></li>
      <li><a routerLink="/story" routerLinkActive="active">Story</a></li>
      <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" style="background: aquamarine; padding: 8px;">Contact Us</a></li>
    </ul>
  </div>
</nav> -->

<mat-toolbar style="background: white;">
  <img src="../assets/Kerry-Logo-1.png" alt="Logo" height="35">
  <div class="desktop-menu">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/business">Business</button>
    <button mat-button routerLink="/c2c">C2C</button>
    <button mat-button routerLink="/story">Story</button>
    <button mat-button routerLink="/blog">Blog</button>
    <button mat-button routerLink="/careers">Careers</button>
    <button mat-button routerLink="/contact" style="background: aquamarine; padding: 17px;">Contact Us</button>
  </div>
  <div class="mobile-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">Home</button>
      <button mat-menu-item routerLink="/business">Business</button>
      <button mat-menu-item routerLink="/c2c">C2C</button>
      <button mat-menu-item routerLink="/story">Story</button>
      <button mat-menu-item routerLink="/blog">Blog</button>
      <button mat-menu-item routerLink="/careers">Careers</button>
      <button mat-menu-item routerLink="/contact">Contact Us</button>
    </mat-menu>
  </div>
</mat-toolbar>



<router-outlet></router-outlet>


<app-footer></app-footer>
