<div class="hero-section">
    <div class="hero-content">
        <h1>Build a Better Business with Hey Karry</h1>
    </div>
</div>

<div class="business-we-back">
    <h2>Business we Back</h2>
</div>

<div class="resturants">
    <div>
        <img src="../../assets/food-delivery-apps-min.jpg" alt="" height="300">
    </div>
    <div class="resturants-content">
        <h2>Resturants</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit placeat error molestiae aperiam odio
            assumenda, voluptatem eius fugiat atque aliquid, id nostrum nesciunt earum commodi esse soluta explicabo?
            Pariatur, ducimus?
        </p>
        <button mat-stroked-button color="primary">Details</button>
    </div>
</div>


<div class="customer-engament">
    <h2>Take Control of your Customer Engagement</h2>
    <div class="card-container">
        <div class="card">
            <img src="../../assets/transparent-Icon.png" alt="Card 1">
            <h3>Engage directly</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="card">
            <img src="../../assets/google-logo-removebg-preview.png" alt="Card 2">
            <h3>Gain Insights</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="card">
            <img src="../../assets/transparent-Icon.png" alt="Card 3">
            <h3>Build lasting relationships</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="card">
            <img src="../../assets/google-logo-removebg-preview.png" alt="Card 4">
            <h3>Focus on core business</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="card">
            <img src="../../assets/transparent-Icon.png" alt="Card 5">
            <h3>Pay per delivery</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="card">
            <img src="../../assets/google-logo-removebg-preview.png" alt="Card 6">
            <h3>Get faster payments</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <button mat-stroked-button color="primary" class="responsive-button">Become a partner</button>
</div>


<div class="community">
    <div class="community-content">
        <h2>Explore our Work and Community</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit placeat error molestiae aperiam odio assumenda, voluptatem eius fugiat atque aliquid, id nostrum nesciunt earum commodi esse soluta explicabo? Pariatur, ducimus?</p>
        <button mat-stroked-button color="primary">Details</button>
    </div>
    <div>
        <img src="../../assets/food-delivery-apps-min.jpg" alt="" height="300">
    </div>
</div>
